.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.item {
  flex: 1;
  height: 100%;
  transition: all 0.8s ease;
  position: relative;
  overflow: hidden;
  filter: saturate(0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.itemActive {
  flex-grow: 10;
  transform: translate3d(0, 0, 100px);
  filter: saturate(1.5);
}

.item:nth-child(1) {
  background-color: rgb(238, 252, 238);
}

.item:nth-child(2) {
  background-color: rgb(241, 241, 255);
}

.item:nth-child(3) {
  background-color: rgb(255, 255, 197);
}

.titleWrapper {
  animation-delay: 0.8s;
}

.title {
  font-size: 96px;
  margin-top: -150px;
  color: white;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

.titleWrapper1 {
  animation: fade-in 2s ease-out both;
}

.title1 {
  font-family: 'Crushed', cursive;
  animation: heartbeat 1.5s ease-in-out infinite both;
  animation-delay: 0.8s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.titleWrapper2 {
  animation: swirl-in-fwd 0.6s ease-out both;
}

.title2 {
  font-family: 'Finger Paint', cursive;
  font-size: 96px;
  animation: jello-diagonal-2 3s infinite both;
  animation-delay: 0.8s;
}

@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@keyframes jello-diagonal-2 {
  0% {
    -webkit-transform: skew(0deg 0deg);
            transform: skew(0deg 0deg);
  }
  30% {
    -webkit-transform: skew(-25deg -25deg);
            transform: skew(-25deg -25deg);
  }
  40% {
    -webkit-transform: skew(15deg, 15deg);
            transform: skew(15deg, 15deg);
  }
  50% {
    -webkit-transform: skew(-15deg, -15deg);
            transform: skew(-15deg, -15deg);
  }
  65% {
    -webkit-transform: skew(5deg, 5deg);
            transform: skew(5deg, 5deg);
  }
  75% {
    -webkit-transform: skew(-5deg, -5deg);
            transform: skew(-5deg, -5deg);
  }
  100% {
    -webkit-transform: skew(0deg 0deg);
            transform: skew(0deg 0deg);
  }
}

.titleWrapper3 {
  animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.title3 {
  font-family: 'Bangers', cursive;
  font-size: 96px;
  margin-top: -50px;
  animation: shake 0.3s linear infinite both;
  animation-delay: 0.8s;
}

@keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
            transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.svgContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.svgContainer > svg {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease;
}

.svgContainer:hover > svg {
  transform: translate(-50%, -50%) scale(1.2);
}

@media only screen and (max-width: 480px) {
  .item {
    min-width: 20px;
    flex-shrink: 10;
  }
/*
  .gallery {
    pointer-events: none;
  } */

  .title {
    font-size: 64px;
    margin-top: -100px;
  }
}

@media only screen and (min-width: 481px) {
}
